@model WebAppHealthTech.Models.MedicoEspecModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicoEspecModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <select asp-for="MedicoId" class ="form-control" asp-items="ViewBag.MedicoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EspecialidadeId" class="control-label"></label>
                <select asp-for="EspecialidadeId" class ="form-control" asp-items="ViewBag.EspecialidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoName" class="control-label"></label>
                <input asp-for="InstituicaoName" class="form-control" />
                <span asp-validation-for="InstituicaoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTermino" class="control-label"></label>
                <input asp-for="DataTermino" class="form-control" />
                <span asp-validation-for="DataTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
